[submodule "vendor/TPKeyboardAvoiding"]
	path = vendor/TPKeyboardAvoiding
	url = git://github.com/michaeltyson/TPKeyboardAvoiding.git
[submodule "vendor/MTDates"]
	path = vendor/MTDates
	url = git://github.com/mysterioustrousers/MTDates.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/robb/Underscore.m.git
[submodule "vendor/JASidePanels"]
	path = vendor/JASidePanels
	url = git://github.com/gotosleep/JASidePanels.git
[submodule "vendor/WCAlertView"]
	path = vendor/WCAlertView
	url = git://github.com/m1entus/WCAlertView.git
[submodule "vendor/InAppSettingsKit"]
	path = vendor/InAppSettingsKit
	url = git://github.com/futuretap/InAppSettingsKit.git
